.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar { 
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.navbar__item {
    margin: 0 8px;
    position: relative;
}

.navbar__user {
    display: flex;
    justify-items: center;
}

.navbar__user:hover .navbar__user-menu {
    display: block;
}

.navbar__user-avt {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.navbar__user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar__user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.navbar__user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -29px;
    z-index: -1;
}

.navbar__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 70%;
    height: 8px;
}

.navbar__user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__user-item:hover a {
    color: #00bfa5;
}

.navbar__user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 16px;
    display: block;
    font-weight: 400;
}

.navbar__user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-item a:last-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-item a:hover {
    background-color: #fafafa;
}

.navbar__item--has-notify:hover .navbar__notify{
    display: block;
}

.navbar__item--has-qr:hover .navbar__qr {
    display: block;
}

.navbar__item,
.navbar__item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__item,
.navbar__item-link,
.navbar__icon-link {
    display: flex;
    align-items: center;
}

.navbar__item:hover,
.navbar__item-link:hover,
.navbar__icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__item--strong {
    font-weight: 500;
}

.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid hsla(0,0%,100%,.22);
    border-right: 1px solid hsla(0,0%,100%,.22);
    height: 1.6rem;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon-link:nth-child(2) {
    margin-left: 3px;
}

.navbar__icon {
    font-size: 1.7rem;
    margin: 0 4px;
}

.navbar__title--nopointer {
    cursor: text;
    color: var(--white-color);
}

/* Navbar QR code */

.navbar__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: -16px;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
}

.navbar__qr-link:nth-child(1) {
    margin-left: 11px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 11px;
}

.navbar__qr-download-img {
    height: 16px;
}

/* Navbar Notification */

.navbar__notify {
    position: absolute;
    z-index: 1;
    top: calc(100% + 12px);
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: navbarNotifyGrow ease-in 0.2s;
    -webkit-animation: navbarNotifyGrow ease-in 0.2s; /* Chrome */
    -ms-animation: navbarNotifyGrow ease-in 0.2s; /* IE */
    -o-animation: navbarNotifyGrow ease-in 0.2s; /* Opera */
    -moz-animation: navbarNotifyGrow ease-in 0.2s; /* Firefox */
    will-change: opacity, transform;
    display: none;
}

@keyframes navbarNotifyGrow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.navbar__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.navbar__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    text-transform: capitalize;
}

.navbar__notify-list {
    padding-left: 0;
    list-style: none;
}

.navbar__notify-item:hover {
    background-color: #f7f7f7;
}

.navbar__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.navbar__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.navbar__notify-img {
    width: 40px;
    object-fit: contain;
}

.navbar__notify-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.navbar__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.navbar__notify-desc {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
}

.navbar__notify-footer {
    text-align: center;
}

.navbar__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    display: block;
    font-weight: 400;
}

/* Authen modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
    padding: 6px 0;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-fb {
    background-color: #475a96;
    color: var(--white-color);
}

.auth-form__socials-fb .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-gg {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-title {
    margin: 0 36px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.auth-login .auth-form__socials-title {
    margin: 0 28px !important;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Search */

.search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.search__mobile-search {
    padding: 0 8px;
    display: none;
}

.search__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.search__logo {
    width: 200px;
}

.search__logo-link {
    text-decoration: none;
    color: transparent;
}

.search__logo-img {
    width: 150px;
}

.search__bar {
    background-color: var(--white-color);
    height: 40px;
    flex-grow: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.search__bar-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.search__bar-input {
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.search__bar-input:focus ~ .search__bar-history {
    display: block;
}

.search__cart {
    width: 150px;
    text-align: center;
}

.search__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.search__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 4px;
}

.search__cart-wrap:hover .search__cart-list {
    display: block;
}

.search__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.search__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.search__cart-added {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.search__cart-added-item {
    display: flex;
    align-items: center;
} 

.search__cart-added-item:hover {
    background-color: #f8f8f8;
}

.search__cart-added-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
} 

.search__cart-added-info {
    width: 100%;
    margin-right: 12px;
} 

.search__cart-added-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.search__cart-added-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
} 

.search__cart-added-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
} 

.search__cart-added-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
} 

.search__cart-added-qnt {
    font-size: 1.2rem;
    color: #757575;
} 

.search__cart-added-body {
    display: flex;
    justify-content: space-between;
} 

.search__cart-added-desc {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
} 

.search__cart-added-remove {
    color: var(--text-color);
    font-size: 1.4rem;
} 

.search__cart-added-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.search__cart-view-detail {
    float: right;
    margin: 0 12px 12px 0;
}

.search__cart-view-detail:hover {
    background-color: #f05d41;
}

.search__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -30px;
    border-width: 21px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.search__cart-list--empty {
    padding: 24px 0;
}

.search__cart-list--empty .search__cart--empty-img,
.search__cart-list--empty .search__cart--empty-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.search__cart--empty-img {
    width: 54%;
    display: none;
}

.search__cart--empty-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.search__cart-notice {
    position: absolute;
    top: -7px;
    right: -8px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.search__bar-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    height: 28px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.search__bar-select-label {
    font-size: 1.4rem;
    color: var(--text-color)
}

.search__bar-select-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
}

.search__bar-btn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    cursor: pointer;
}

.search__bar-btn:hover {
    background-color: #fb6445;
}

.search__bar-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.search__bar-select:hover .search__bar-options {
    display: block;
}

.search__bar-options {
    position: absolute;
    right: 0;
    top: calc(100% - 2px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.search__bar-options::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.search__bar-opt-item {
    background-color: var(--white-color);
    padding: 12px 8px 12px 20px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.search__bar-opt-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.search__bar-opt-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.search__bar-opt-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search__bar-opt-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 0 4px 0 8px;
    display: none;
}

.search__bar-opt-item--active i {
    display: inline-block;
}

/* Search history */

.search__bar-history {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    overflow: hidden;
    z-index: 1;
}

.search__bar-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.search__bar-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.search__bar-history-item {
    height: 38px;
    padding: 0 12px;
}

.search__bar-history-item:hover {
    background-color: #fafafa;
}

.search__bar-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5; 
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

/* Container */

.container {
    background-color: #f5f5f5;
}

.container__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 16px 20px;
    margin: 0 0 6px;
    color: var(--text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(calc(-50% - 1px));
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 20px;
    display: block;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Mobile category */

.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
}

.mobile-category__item + .mobile-category__item {
    margin-left: 10px;
}

.mobile-category__item:nth-of-type(3n+1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n+2) .mobile-category__link {
    background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n) .mobile-category__link {
    background-color: #88cf81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}

/* Home sort + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__lable {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 2%);
    transition: background-color linear 0.05s;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex: 1;
    background-color: var(--white-color);
    color: #555;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    color: #ccc;
    cursor: default;
}

/* Product item */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    will-change: transform;
    transition: transform ease-in 0.1s;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 10px;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 6px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-filled {
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-filled {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--gold-star-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__country {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__saleoff {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    font-size: 1.3rem;
    border-top-right-radius: 2px;
}

.home-product-item__saleoff::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__percent {
    color: #ee4d2d;
    font-weight: 600;
}

.home-product-item__discount {
    color: var(--white-color);
    font-weight: 600;
}

.home-product__pagination {
    margin: 48px 0 32px;
    padding-left: 0;
}

/* Footer */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color)
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-google,
.footer__download-appstore {
    height: 18px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 12px 0;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}